<div class="container">
    <div>
        <app-user
                *ngFor="let user of users"
                [user]="user"
                (lift)="getUserEvent($event)"
                (showPosts)="getUserEventPosts($event)">
        </app-user>
    </div>
    <div>
        <app-user-details *ngIf="usersDetails" [usersDetails]="usersDetails"></app-user-details>
    </div>
    <div>
        <app-user-posts *ngIf="post" [post]="post"></app-user-posts>
    </div>
</div>



<!--app-user відображає список користувачів. Використовується директива *ngFor,-->
<!--щоб пройтися по всіх користувачах у масиві users і передати кожного користувача в дочірній компонент.-->
<!--Під час вибору користувача спрацьовує подія (lift), яка викликає метод getUserEvent($event) для передачі обраних даних про користувача.-->

<!--app-user-details відображає деталі конкретного користувача. -->
<!--Він відображується лише тоді, коли змінна usersDetails не є null або undefined, що встановлюється через директиву *ngIf.-->

<!--app-user-posts відображає пости конкретного користувача. -->
<!--Він також відображається лише тоді, коли змінна userPosts не є null або undefined, що встановлюється через директиву *ngIf.-->