.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    padding: 10px;
    background-color: #cccccc;
    border: 1px solid #ccc;
}
